<div class="der" style=" min-width: 700px;
  margin: 0 auto;">
<ul>
   {{#each sampleOrders}}
   <li>{{this.name}}</li>
   {{/each}}
</ul>
<ul>
   {{#each sampleOrders}}
   <li><img src="{{this.image}}"/></li>
   {{/each}}
</ul>
</div>
